#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  border-style: solid;
  border-radius: 0.5rem;
  border-color: lightgray;
}

.header {
  border-style: solid;
  border-radius: 0.5rem;
  border-color: rgb(255, 205, 41);
  margin: 1rem;
  padding: 2rem;
}

.article-list {
  border-style: solid;
  border-radius: 0.5rem;
  border-color: rgb(13, 153, 255);
  margin: 1rem;
  padding: 1rem;
}

.article-card {
  list-style-type: none;
  border-style: solid;
  border-radius: 0.5rem;
  border-color: rgb(13, 153, 255);
  margin: 1rem;
}