#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  /* background-color: rgb(228, 228, 228); */
  /* border-style: solid;
  border-radius: 0.5rem; */
  /* border-color: lightgray; */
}

.header {
  /* border-style: solid;
  border-radius: 0.5rem; */
  /* border-color: rgb(255, 205, 41); */
}

.article-list {
  padding: 0rem;
  display: grid;
  column-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
}

.article-card {
  list-style-type: none;
  border: 3px solid;
  border-radius: 0.5rem;
  border-color: rgb(225, 226, 230);
  margin: 1.5rem 0;
}

.article-card:hover {
  background-color: #e4ecff;
  border: 3px solid;
  border-color: #cedcff;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.08), 0 12px 30px 0 rgba(0, 0, 0, 0.08);
}

.article-card__image {
  width: 100%;
  height: auto;
  max-height: 230px;
}

.single-article {
  border: 3px solid;
  border-radius: 0.5rem;
  border-color: rgb(225, 226, 230);
  padding: 0rem;
}

.single-article__image {
width: 100%;
height: auto;
}

.comment-section {
  margin-top: 20px;
  /* border-style: solid;
  border-radius: 0.5rem;
  border-color: darkorchid; */
}

.comment-list {
  padding: 0rem;
}

.comment-card {
  list-style-type: none;
  border: 2px solid;
  border-radius: 0.5rem;
  border-color: rgb(236, 237, 241);
  margin: 1rem;
  padding: 0.75rem;
}

.update-votes{
  display: flex;
  justify-content: center;
  margin: 0.5rem 0 ;
  gap: 0.5rem;
}