#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  border-style: solid;
  border-radius: 0.5rem;
  border-color: lightgray;
}

.header {
  border-style: solid;
  border-radius: 0.5rem;
  border-color: rgb(255, 205, 41);
  /* margin: 1rem; */
  /* padding: 2rem; */
}

.article-list {
  /* border-style: solid;
  border-radius: 0.5rem;
  border-color: rgb(231, 231, 231); */
  /* margin: 1rem; */
  padding: 0rem;
  display: grid;
  column-gap: 50px;
  grid-template-columns: auto auto auto;
}

.article-card {
  list-style-type: none;
  border: 2px solid;
  border-radius: 0.5rem;
  border-color: rgb(246, 247, 251);
  margin: 2rem 0 2rem 0;
  /* padding: 2rem;  */
}

.article-card:hover {
  background-color: #e4ecff;
  border: 2px solid;
  border-color: #cedcff;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.08), 0 12px 30px 0 rgba(0, 0, 0, 0.08);
}

.article-card__image {
  height: 260px;
}

.single-article {
  border-style: solid;
  border-radius: 0.5rem;
  border-color: blue;
  margin: 1rem;
  padding: 0rem;
}

.comment-list {
  border-style: solid;
  border-radius: 0.5rem;
  border-color: blue;
  margin: 1rem;
  padding: 0rem;
}

.comment-card {
  list-style-type: none;
  border-style: solid;
  border-radius: 0.5rem;
  border-color: rgb(13, 153, 255);
}

